<div class="page-header">
  <%= link_to posts_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_post_path(@post), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Exibir post</h1>
</div>

<dl class="dl-horizontal">
  <dt>Mensagem:</dt>
  <dd><%= @post.mensagem %></dd>

</dl>
